*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.w-1140{
    width: 1140px;
    margin: auto;
}

.logo {
    width: 15%;
}

.logo img{
    width: 100%;
  
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;
    
}

.postion{
    position: center;
    
}

.nav ul {
    display: flex;
    gap: 30px;  
}

.nav ul li a{
    display: block;
    height: 20px;
    padding: 10px 15px;
    color: #253339;
    display: flex;
    align-items: center;
   
}
.button a {
    padding: 10px 20px 10px 20px;
    background-color: #253339;
    color: white;
    border-radius: 10px;
}

.nav ul li a:hover{
    color: rgb(240, 101, 67);
}

.button a:hover{
   background-color:rgb(240, 101, 67); 
}

.nav ul li ul {
    display: none;
    flex-direction: column;
}

ul li:hover ul {
    display: block;
}


.hero h1{
    text-align: center;
    padding-top: 220px;
    font-size: 90px;
    position: relative;
    color: #253339;
}
   .hero h1 span{
    color: #a462e7;
    font-style: italic;
   
 }
 
 .png{
    width: 60px;
    position: absolute;
    top: 275px;
    left: 735px;
    transform: rotate(50deg);
 }

 .png img{
    width: 100%;
 }

 .png1{
    width: 150px;
    position: absolute;
    top: 479px;
    left: 812px;

 }

 .png1 img{
    width: 100%;
 }

 .hero h5{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    opacity: 0.5;
    font-weight: lighter;
    line-height:30px;
 }

 .png2{
    width:90px;
    position: absolute;
    top: 480px;
    left: 95px;
    transform: rotate(-20deg);
 }

 .png2 img{
    width: 100%;
 }

 .png3{
    width: 90px;
    position: absolute;
    top: 505px;
    left: 1066px;
 }

 .png3 img{
    width: 100%;
 }


.button1 a{
    padding: 20px 42px ;
    background-color: #253339;
    color: white;
    border-radius: 10px;
    font-size: 18px;  
}

.button1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button1 a:hover{
    background-color:rgb(240, 101, 67);  
}

.img{
    width: 379px;
    height: 275px;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: 40px;

    
}

.img img{
    width: 100%;
    object-fit: contain;
    
}

.text {
    display: flex;
    justify-content: end;
  
}

.text ul li{
    padding: 10px 20px;
    display:inline;
    border: 1px solid black;
    text-align: right;
    position: relative;
    border-radius: 10px;

}
.text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
position: absolute;
top: 674px;
    
}

.text ul li span{
    color: rgb(240, 101, 67);
    margin-right: 10px;
}

.png4{
    width: 90px;
    position: absolute;
    top: 869px;
    left: 316px;
}

.png4 img{
    width: 100%;
}

.png5{
    width: 100px;
    position: absolute;
    top: 898px;
    left: 965px;
    transform: rotate(27deg);
}

.png5 img{
    width: 100%;
}

.hero h2{
    text-align: left;
    font-size: 50px;
    margin-top: 200px;
}

.hero h2 span{
    color: #a462e7;
    font-style: italic;
}

.png6{
    width: 30px;
    position: absolute;
    top: 1162px;
    left: 540px;
    transform: rotate(9deg);
}

.png6 img{
    width: 100%;
}

.hero .decripation ul li {
    text-align: left;
    opacity: 0.5;
    font-size: 20px;
   margin-top: 20px;
  
   

}

 .img1{
    width: 500px;
    height: 200px;
    position: relative;
    
   
}

.img1 img{
    width: 100%;
    border-radius: 20px;
    overflow: hidden; 
   position: absolute;
   top: -326px;
   left: 624px;
}

.bio {
    padding: 20px 135px 20px 135px;
    background-color:white;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 1430px;
    left: 740px;      
}

.bio span p{
    opacity: 0.5;
    font-size:16px ;
}

.bio span{
    font-size: 20px;
}

.button2 a{
    padding: 20px 42px ;
    background-color: #253339;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 1523px;
    left: 58px; 
}


.button2 a:hover{
    background-color:rgb(240, 101, 67);  
}

.center h3{
    font-size:50px ;
    text-align: center;
    color: #253339;
}

.center span{
    color: #a462e7;
    font-style: italic;
}

.png7{
    width: 40px;
    position: absolute;
    top: 1669px;
    left: 507px;
}

.png7 img{
    width: 100%;
}

.center1 ul li{
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
}
.plus{
    padding: 30px;
    position: absolute;
    top: 633px;
    left: 80px;
    background-color: white;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 10px;
    box-shadow: 0 0 17px black;
}

.plus .heading span{
    color: #f06543;
    font-weight: bolder;
}
.pic ul {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.plus .heading{
    margin-top: 0;
}

.pic ul li{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin: -8px;
}
.pic ul li img{
    width: 100%;
    object-fit: cover;
}


.icon {
    padding: 25px 25px;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    top: 1903px;
    left: 155px;
}

.icon ul li i{
    font-size: 30px;
}

.icon-text{
   font-size: 22px;
   font-weight: bolder;
   color: #253339;
   position: absolute;
   top: 1904px;
   left: 254px;
}

.icon-text ul li a{
    font-size: 15px;
    color: #656c6f;
    font-weight: lighter;
}

.icon-1 {
    padding: 25px 25px;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    top: 1907px;
    left: 710px;
}

.icon-1 ul li i{
    font-size: 30px;
}

.icon-1-text{
    font-size: 22px;
    font-weight: bolder;
    color: #253339;
    position: absolute;
    top: 1904px;
    left: 804px;
 }
 
 .icon-1-text ul li a{
     font-size: 15px;
     color: #656c6f;
     font-weight: lighter;
 }

 .icon-2 {
    padding: 25px 25px;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    top: 2035px;
    left: 152px;
}

.icon-2 ul li i{
    font-size: 30px;
}

.icon-2-text{
    font-size: 22px;
    font-weight: bolder;
    color: #253339;
    position: absolute;
    top: 2037px;
    left: 251px;
 }
 
 .icon-2-text ul li a{
     font-size: 15px;
     color: #656c6f;
     font-weight: lighter;
 }

 .icon-3 {
    padding: 25px 25px;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
    top: 2035px;
    left: 710px;
}

.icon-3 ul li i{
    font-size: 30px;
}
.icon-3-text{
    font-size: 22px;
    font-weight: bolder;
    color: #253339;
    position: absolute;
    top: 2037px;
    left: 805px;
 }
 
 .icon-3-text ul li a{
     font-size: 15px;
     color: #656c6f;
     font-weight: lighter;
 }

 .bigimg{
    width: 100%;
    height: 100%;
    margin-top: 400px;
     border-radius: 20px;
    overflow: hidden; 
 }
  
 .bigimg img{
    width: 100%;
 }

 .play{
    font-size: 84px;
    color:rgb(240, 101, 67) ;
    position: absolute;
    top: 2716px;
    left: 600px;
 }

 .child h4{
    font-size: 40px;
    margin-top: 20px;
    color: #253339;
    font-weight: bolder;
 }

 .child h4 span{
    color: #a462e7;
    font-style: italic;
 }

 .intro ul li{
    margin-top: 20px;
   color: #656c6f;
 }

 .button3 a{
    padding: 20px 42px ;
    background-color: #253339;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 3380px;
    left: 58px; 
}

.button3 a:hover{
    background-color:rgb(240, 101, 67);  
}

.ranking{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child1 ul li{
    margin-right: 350px;
    color: #253339;
    font-weight: bolder;
    margin-top: 60px;
}

.score{
    padding: 5px 30px ;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

  .report ul li{
    margin-right: 350px;
    color: #253339;
    font-weight: bolder;
    margin-top: 20px; 
}

.score1{
    padding: 5px 30px ;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}


.report1 ul li{
    margin-right: 350px;
    color: #253339;
    font-weight: bolder;
    margin-top: 20px; 
}

.score2{
    padding: 5px 30px ;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

.report2 ul li{
    margin-right: 350px;
    color: #253339;
    font-weight: bolder;
    margin-top: 20px; 
}

.score3{
    padding: 5px 30px ;
    background-color: rgb(240, 101, 67);
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}

.center-up h4{
    font-size: 50px;
    margin-top: 250px;
    text-align: center;
    color: #253339;
}

.center-up h4 span{
    color: #a462e7;
    font-style: italic;
}

.png8{
    width: 30px;
    position: absolute;
    top: 3626px;
    left: 926px;
    transform: rotate(7deg);
}
    
.png8 img{
        width: 100%;
     }


 .png9{
    width: 30px;
    position: absolute;
    top: 3619px;
    left: 300px;
    transform: rotate(179deg);
}
    
        
.png9 img{
width: 100%;    
         }

.center-intro{
    text-align: center;
    margin-top: 20px;
    color: #656c6f;
}

.leftpic{
    width: 366px;
    height: 404px;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.leftpic img{
    width: 490px;
}

.pic-div{
    display: flex;
    justify-content: space-between;   
}

.centerpic{
    width: 366px;
    height: 404px;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.centerpic img{
    width: 490px;
}

.rightpic{
    width: 366px;
    height: 404px;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.rightpic img{
    width:490px;
}

.leftpic-intro {
    padding: 12px 50px 12px 50px;
    background-color:white;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 4190px;
    left: 80px;
}

.leftpic-intro ul li{
    font-weight: bold;

}

.centerpic-intro {
    padding: 12px 50px 12px 50px;
    background-color:white;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 4190px;
    left: 485px;
}

.centerpic-intro ul li{
    font-weight: bold;

}

.rightpic-intro {
    padding: 12px 10px 12px 10px;
    background-color:white;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
    position: absolute;
    top: 4190px;
    left: 860px;
}

.rightpic-intro ul li{
    font-weight: bold;

}

.center-end{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.center-end ul li{
   font-weight: bold;
   color: #656c6f;
}

.center-end ul li span{
    color:rgb(240, 101, 67) ;
    border-bottom: 1px solid rgb(240, 101, 67);
}

.center-end ul li i{
    color:rgb(240, 101, 67) ;
    margin-left: 5px;
}

.making{
    margin-top: 200px;
    font-size: 50px;
    color: #253339;
    font-weight: bolder;
    margin-bottom: 30px;
}

.making span{
    color: #a462e7;
    font-style: italic;
    font-weight: lighter;
}

.making-intro{
    color: #656c6f;
    font-weight: lighter;
    margin-bottom: 30px;
}

.stapbox{
    display: flex;
    justify-content: space-between;
    
}

.stapbox1{
    padding: 8px 30px 8px 30px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
} 

.stapbox1 ul li{
    color: white;
}

.stapbox2{
    padding: 8px 30px 8px 30px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
} 

.stapbox2 ul li{
    color: white;
}

.stapbox3{
    padding: 8px 30px 8px 30px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
} 

.stapbox3 ul li{
    color: white;
}

.stapbox4{
    padding: 8px 30px 8px 30px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
   
} 

.stapbox4 ul li{
    color: white;
}

.png10{
    width: 130px;
    height: 100px;
    position: absolute;
    top: 4489px;
    left: 1118px;
}

.png10 img{
    width: 100%;
}

.stapintro{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.stapintro1 ul li{
    font-size: 30px;
    margin-top: 20px;
    color: #253339;
    font-weight: bolder;
    margin-bottom: 10px;
}

.stapintro1 ul li a{
    font-size: 16px;
    color: #656c6f;
    font-weight: lighter;
}

.stapintro2 ul li{
    font-size: 30px;
    margin-top: 20px;
    color: #253339;
    font-weight: bolder;
    margin-bottom: 10px;
}

.stapintro2 ul li a{
    font-size: 16px;
    color: #656c6f;
    font-weight: lighter;
}
    
.stapintro3 ul li{
    font-size: 30px;
    margin-top: 20px;
    color: #253339;
    font-weight: bolder;
    margin-bottom: 10px;
}

.stapintro3 ul li a{
    font-size: 16px;
    color: #656c6f;
    font-weight: lighter;
}
    
.stapintro4 ul li{
    font-size: 30px;
    margin-top: 20px;
    color: #253339;
    font-weight: bolder;
    margin-bottom: 10px;
}

.stapintro4 ul li a{
    font-size: 16px;
    color: #656c6f;
    font-weight: lighter;
}

.bookmokup{
    display: flex;
    justify-content: space-between;
    
}

.bookpng{
    width: 378px;
    height: 379px;
    margin-right: 20px;
}

.bookpng img{
    width: 100%;
}

.arowpng{
    width: 155px;
    height: 200px;
    width: 170px;
    height: 200px;
    position: absolute;
    top: 5500px;
    left: 145px;
}


.arowpng img{
    width: 100%;
}

.arowpng1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5050px;
    left: -20px;
    transform: rotate(-15deg);
   
}

.arowpng1 img{
   width: 100%;

}

.form{
    font-size: 50px;
    font-weight: bolder;
    color: #253339;
}

.form span{
    color: #a462e7;
    font-style: italic;
}

.form ul li p{
    font-size: 15px;
    margin-top: 20px;
   font-weight: lighter;
   color: #656c6f;
   margin-bottom: 20px;
}

.name{
    display: flex;
    justify-content: space-between;
}
.namebox{
    padding: 20px 190px 20px 10px;
    border: 1px solid black;
    display: inline-block;
  opacity: 0.5;
    border-radius: 5px; 
}

.namebox ul li{
    font-size: 15px;
    font-weight: lighter;
}

.mailbox{
    padding: 20px 140px 20px 10px;
    border: 1px solid black;
    display: inline-block;
    opacity: 0.5;
    border-radius: 5px; 
}

.mailbox ul li{
    font-size: 15px;
    font-weight: lighter;  
}

 .subscribe{
    padding: 18px 30px 20px 34px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    font-size: 18px;   
} 

.subscribe a{
    color: white;
}

.subscribe:hover{
    background-color: #253339; }


.arowpng2{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 5230px;
    left: 1143px;
    transform: rotateY(150deg);
}

.arowpng2 img{
    width: 100%;
}

.quote ul li i{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 70px;
    color:rgb(240, 101, 67) ;
}

.quoteintro ul li{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: #253339;
    text-align: center;
}

.profile{
    width: 95px;
    height: 95px;
    margin-left: 520px;
    border-radius: 80px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile img{
    width: 112%;
}

.prodet ul li{
   font-size: 25px;
   text-align: center;
  color: #253339; 
}

.prodet ul li span{
    font-size: 15px;
   color: #656c6f;
}
 
.slide ul li {
    color:rgb(240, 101, 67) ;
    font-size: 40px;
   position: absolute;
   top: 5960px;
    left: 1145px;
}

.slide1 ul li {
    color:rgb(240, 101, 67) ;
    font-size: 40px;
   position: absolute;
   top: 5960px;
    left: 100px;
}

.article ul li{
    font-size: 50px;
    margin-top: 100px;
    color: #253339;
    font-weight: bolder;
}

.article ul li span{
    color: #a462e7;
    font-style: italic;
}

.articleinfo ul li{
    font-size: 20px;
    color: #253339;
    margin-top: 20px;
    margin-bottom: 30px;
}

.mainarticle{
    display: flex;
    justify-content: space-between;
}

.lastpart{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.habbit{
    width: 350px;
    height: 285px;
   border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.habbit img{
    width: 125%;
}


.productivity{
    width: 350px;
    height: 285px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.productivity img{
    width: 125%;
}

.mindset{
    width: 350px;
    height: 285px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    margin-bottom: 10px; 
}

.mindset img{
    width: 125%;
}

.lastpart1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.ht ul li span{
    color: #a462e7;
    font-style: italic;
    font-weight: bolder;
}

.ht ul li a{
    color: #253339;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    display: block;
}

.ht ul li{
    color: #656c6f;
    font-size: 15px;
    margin-bottom: 20px;
}

.readmore{
    padding: 18px 30px 20px 34px;
    background-color:rgb(240, 101, 67) ;
    border-radius: 10px;
    font-size: 18px;   
} 

.readmore a{
    color: white;
    text-align: center;
    display: block;
    font-weight: bolder;
}

.readmore:hover{
    background-color: #253339; }

    .py ul li span{
        color: #a462e7;
        font-style: italic;
        font-weight: bolder;
    }
    
    .py ul li a{
        color: #253339;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bolder;
        display: block;
    }
    
    .py ul li{
        color: #656c6f;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
    .readmore{
        padding: 18px 30px 20px 34px;
        background-color:rgb(240, 101, 67) ;
        border-radius: 10px;
        font-size: 18px;   
    } 
    
    .readmore a{
        color: white;
        text-align: center;
        display: block;
        font-weight: bolder;
    }
    
    .readmore:hover{
        background-color: #253339; }
    
        .mt ul li span{
            color: #a462e7;
            font-style: italic;
            font-weight: bolder;
        }
        
        .mt ul li a{
            color: #253339;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bolder;
            display: block;
            margin-right: 60px;
        }
        
        .mt ul li{
            color: #656c6f;
            font-size: 15px;
            margin-bottom: 20px;
        }
        
        .readmore{
            padding: 18px 30px 20px 34px;
            background-color:rgb(240, 101, 67) ;
            border-radius: 10px;
            font-size: 18px;   
        } 
        
        .readmore a{
            color: white;
            text-align: center;
            display: block;
            font-weight: bolder;
        }
        
        .readmore:hover{
            background-color: #253339; }
        
    .footer-1140{
        display: flex;
       justify-content: space-between;
       background-color: #253339;
       width: 1140px;
        height: 500px; 
    }

    .w-30{
        width: 134px;
        height: 757px;  
    }

    .w-30 img{
        width: 100%;
        margin-top: 80px;
        margin-left: 40px;
    }

    .w-70 ul li{
        font-size: 50px;
        display: block;
        margin-top:80px ;
        margin-right: 20px;
        color: white;  
    }

    .w-70 ul li span{
        color: #a462e7;
       font-style: italic;
    }

    .about{
        display: flex;
        justify-content: space-between;
    }

    .quick ul li a{
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }

    .quick ul li {
        font-size: 19px;
        margin-top: 25px;
        color: rgb(147, 145, 145);
    }
    .quick ul li:hover{
        color: white;
    }
    
    .Support ul li a{
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }

    .Support ul li {
        font-size: 19px;
        margin-top: 25px;
        color: rgb(147, 145, 145);
    }
    .Support ul li:hover{
        color: white;
    }
    
    .Resources ul li a{
        font-size: 24px;
        color: white;
        margin-bottom: 20px;
    }
    
    .Resources ul li {
        font-size: 19px;
        margin-top: 25px;
        color: rgb(147, 145, 145);
        margin-right: 100px;
    }
    .Resources ul li:hover{
        color: white;
    }


    .social ul li{
        color: white;
        margin-top: 230px;
        margin-left: 30px;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .media{
        display: flex;
        justify-content: space-between;
        
    }

    .mi ul li {
        width: 30px;
        height: 30px;
        background-color: #f06543;
        border-radius: 100%;
        text-align: center;
        color: white;
        margin-left: 20px;
        padding: 5px 5px 5px 5px;
        line-height: 30px;
    }
    .mi ul li:hover{
        background-color: white;
        color: #f06543;
    }

    .mi-1 ul li {
        width: 30px;
        height: 30px;
        background-color: #f06543;
        border-radius: 100%;
        text-align: center;
        color: white;
        margin-left: 20px;
        padding: 5px 5px 5px 5px;
       line-height: 30px;
    }
    .mi-1 ul li:hover{
        background-color: white;
        color: #f06543;
    }

    .mi-2 ul li {
        width: 30px;
        height: 30px;
        background-color: #f06543;
        border-radius: 100%;
        text-align: center;
        color: white;
        margin-left: 20px;
        padding: 5px 5px 5px 5px;
        line-height: 30px;
    }
    .mi-2 ul li:hover{
        background-color: white;
        color: #f06543;
    }

    .mi-3 ul li {
        width: 30px;
        height: 30px;
        background-color: #f06543;
        border-radius: 100%;
        text-align: center;
        color: white;
        margin-left: 20px;
        padding: 5px 5px 5px 5px;
        line-height: 30px;

    }

    .mi-3 ul li:hover{
        background-color: white;
        color: #f06543;
    }

    .end{
       width: 1140px;
      background-color: #445b67;
      height: 50px;
      line-height: 50px; 
    }

    .end ul li{
        color: white;
        margin-left: 15px;
    }

    .end ul li span{
        font-weight: bolder;
    }

    .end ul li span:hover{
        border-bottom: 1px solid white;
    }






