*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.logo img{
    width: 150px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu{
    display: flex;
    gap: 80px;
    margin-top: 70px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    margin-left: 50px;
}

.menu li:hover{
    color: #5EC79C;
    cursor: pointer;
}


.main-silder{
    background-image: url("https://world5.commonsupport.com/2017/warsaw/images/main-slider/image-1.jpg");
    width: 100%;
    height: 750px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.main-silder h1{
    font-family: "Grand Hotel", cursive;
    font-size: 100px;
    margin-top: 255px;
    position: relative;
    display: flex;
    z-index: 1;
}

.main-silder::after{
    content: "";
    background-color: black;
    position: absolute; 
    top: 140px;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    height: 750px;
}

.main-silder h4{
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
}

.main-silder span{
    padding: 10px 30px 10px 30px;
    color: white;
    z-index: 1;
    position: relative;
    background-color:#F5B062;
    border-radius: 30px;
    font-weight: 600;
    margin-left: 565px;
    font-size: 14px;
    border: 2px solid #F5B062;
}

.main-silder span:hover{
    background-color: transparent;
    color: #F5B062;
    cursor: pointer;
    transition: 0.5s;
}


.weat-silde{
    width: 100%;
    height: 480px;
    margin-top: -160px;
    background-color: white;
    z-index: 1;
    position: relative;
}

.weat-png{
    margin-top: -100px;
}

.weat-png img{
    margin-top: 150px;
}

.weat-silde h6{
font-family: "Grand Hotel", cursive;
font-size: 34px;
color: #333333;
margin-top: 15px;
position: relative;
  margin-bottom: 50px;
}


.weat-silde h6::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #5EC79C;
    position: absolute; 
    top: 45px;
    left: 124px;
  
}

.weat-des h5{
 font-family: "Roboto Slab", serif;
 color: #5EC79C;
 font-size: 25px;
 font-weight: 600;
 padding-left: 50px;
}

.weat-des span{
    background-color: #5EC79C;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid  #5EC79C;
    transition: 0.20s;
    margin-left: 50px;
     font-family: "Roboto Slab", serif;
}

.weat-des span:hover{
    background: transparent;
    color: #5EC79C;
    cursor: pointer;
}


.weat-des h5::after{
    content: "";
    width: 570px;
    height: 510px;
    background-image: url("https://world5.commonsupport.com/2017/warsaw/images/resource/crop-image-left.png");
    position: absolute; 
    top: 185px;
    left: -380px;
    z-index: -1;
    
}


.weat-des p{
    font-family: "Roboto Slab", serif;
    padding-left: 50px;
    font-size: 19px; 
    color: #777777;
    padding-bottom: 15px;
}


.weat-qulity h4{
 font-family: "Roboto Slab", serif;
 color: #5EC79C;
 font-size: 25px;
 font-weight: 600;
 padding-left: 50px;
 position: relative;
}


.weat-qulity span{
    background-color: #5EC79C;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid  #5EC79C;
    transition: 0.20s;
    margin-left: 50px;
     font-family: "Roboto Slab", serif;
}

.weat-qulity span:hover{
    background: transparent;
    color: #5EC79C;
    cursor: pointer;
}

.weat-qulity::after{
    content: "";
    width: 250px;
    height: 510px;
    background-image: url("https://world5.commonsupport.com/2017/warsaw/images/resource/crop-image-right.png");
    
    position: absolute; 
    top: 195px;
    right: -62px;
    z-index: -1;

}



.weat-qulity p{
  font-family: "Roboto Slab", serif;
  padding-left: 50px;
  font-size: 19px; 
  color: #777777;
  margin-bottom: 30px;
}

.inner-part img{
    width:100% ;
    height:500px;
    background-color: #f4e5d1;
    z-index: -1;
    margin-top: -320px;
    position: relative;
}


.about h4{
  font-family: "Grand Hotel", cursive;
  font-size: 35px;  
  color: #333333;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  margin-bottom: 30px;
}

.about h4::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #5EC79C;
    position: absolute; 
    top: 55px;
    left: 535px; 
}



